Client/src/main/java/proxy/BanqueService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"></part>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"></part>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"></part>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"></part>
</message>
<message name="listCompte">
<part name="parameters" element="tns:listCompte"></part>
</message>
<message name="listCompteResponse">
<part name="parameters" element="tns:listCompteResponse"></part>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://ws/BanqueService/ConvertRequest" message="tns:Convert"></input>
<output wsam:Action="http://ws/BanqueService/ConvertResponse" message="tns:ConvertResponse"></output>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"></input>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"></output>
</operation>
<operation name="listCompte">
<input wsam:Action="http://ws/BanqueService/listCompteRequest" message="tns:listCompte"></input>
<output wsam:Action="http://ws/BanqueService/listCompteResponse" message="tns:listCompteResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Convert">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"></soap:address>
</port>
</service>
</definitions>